.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.head_wrap{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: flex-end;
}

/* practice practice practice */